doctype html
html(lang='en')
  include head.pug
  body
    header
      include navbar.pug
    block content
      noscript This website relies on Javascript to work. Please turn it on and refresh the page.
    // Optional JavaScript
    include footer.pug
    