doctype html
html(lang='en')
  include includes/head.pug
  body
    header
      include includes/navbar.pug
    h1.text-center Hello, world!
    noscript This website relies on Javascript to work. Please turn it on and refresh the page.
    // Optional JavaScript
    include includes/footer.pug
    