extends includes/layout.pug

block append content
  .loader
  .container-fluid.bg-light
    .chart-container
      canvas#stock-chart
  .container-fluid.pt-4
    #chartLabels.row

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
  script(src='/common/ajax-functions.js')
  script(src='/controllers/chartController.client.js')
  script(src='/controllers/addStockController.client.js')